In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [35]:
data = pd.read_csv('C:/Program files\movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1110,tt0311113,150000000,212011111,Master and Commander: The Far Side of the World,Russell Crowe|Paul Bettany|James D'Arcy|Billy ...,Peter Weir,The Courage to Do the Impossible Lies in the H...,After an abrupt and violent encounter with a F...,138,Adventure,Universal Pictures|Twentieth Century Fox Film ...,11/14/2003,6.6,2003
894,tt0233469,85000000,78382433,Collateral Damage,Arnold Schwarzenegger|Francesca Neri|Elias Kot...,Andrew Davis,What would you do if you lost everything?,Firefighter Gordon Brewer is plunged into the ...,108,Action|Thriller|Drama,David Foster Productions|Bel Air Entertainment...,2/6/2002,5.5,2002
1870,tt0144528,84000000,123307945,Nutty Professor II: The Klumps,Eddie Murphy|Janet Jackson|Larry Miller|John A...,Peter Segal,The Klumps are back!,The hilarity begins when professor Sherman Klu...,106,Fantasy|Comedy|Romance|Science Fiction,Imagine Entertainment|Universal Pictures,7/27/2000,4.8,2000
1613,tt0371246,80000000,55041367,Spanglish,Adam Sandler|TÃ©a Leoni|Paz Vega|Cloris Leachm...,James L. Brooks,Every family has a hero.,Mexican immigrant and single mother Flor Moren...,130,Comedy,Gracie Films|Columbia Pictures Corporation,12/17/2004,5.6,2004
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008

In [36]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [37]:
answers = {} # создадим словарь для ответов

#рассчитаем прибыль фильмов и добавим в качестве отдельного столбца в датафрейм

data['profit'] = data['revenue'] - data['budget'] 

#функция, собирающая словарь из требуемых элементов (режиссеры и их суммарная касса) и возвращающая результат конвертация словаря в датафрейм.

def rev_dir(data):
    rev_sum = Counter()
    for i in range(len(data)):
        for j in data.iloc[i].director.split('|'):
            rev_sum[j] += data.iloc[i].revenue
    return pd.DataFrame.from_dict(rev_sum, orient = 'index', columns = ['Sum'])

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [38]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [39]:
#1. У какого фильма из списка самый большой бюджет? Решение:

In [40]:
budget_max = data[data['budget'] == data['budget'].max()].original_title
display(budget_max)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [41]:
data.groupby(['original_title'])['budget'].max().sort_values(ascending=False).head(1)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Name: budget, dtype: int64

In [42]:
data[data['budget'] == data['budget'].max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [43]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [44]:
#2. Какой из фильмов самый длительный (в минутах)? Решение:

In [45]:
runtime_max = data[data['runtime'] == data['runtime'].max()].original_title
display(runtime_max)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [46]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [47]:
#3. Какой из фильмов самый длительный (в минутах)? Решение:

In [48]:
runtime_min = data[data['runtime'] == data['runtime'].min()].original_title
display(runtime_min)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [49]:
answers['4'] = '110'

In [50]:
#4. Какова средняя длительность фильмов? Решение:

In [51]:
runtime_mean = data['runtime'].mean()
display(int(round((runtime_mean),0)))

110

# 5. Каково медианное значение длительности фильмов?

In [52]:
answers['5'] = '107'

In [53]:
#5. Каково медианное значение длительности фильмов? Решение:

In [54]:
runtime_median = data['runtime'].median()
display(int(round((runtime_median),0)))

107

# 6. Какой фильм самый прибыльный?

In [55]:
answers['6'] = 'Avatar (tt0499549)'

In [56]:
#6. Какой самый прибыльный фильм? Решение:

In [57]:
profit_max = data[data['profit'] == data['profit'].max()].original_title
display(profit_max)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [58]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [59]:
#7. Какой фильм самый убыточный? Решение:

In [60]:
profit_min = data[data['profit'] == data['profit'].min()].original_title
display(profit_min)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [61]:
answers['8'] = '1478'

In [62]:
#7. У скольких фильмов из датасета объем сборов оказался выше бюджета? Решение:

In [63]:
profit_notnull = data[data.profit > 0].imdb_id.count()
display(profit_notnull)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [64]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [65]:
#9. Какой фильм оказался самым кассовым в 2008 году? Решение:

In [66]:
year_2008 = data[data.release_date.str.contains('2008')]

profit_revenue_2008 = year_2008[year_2008['revenue'] == year_2008['revenue'].max()].original_title

display(profit_revenue_2008)

599    The Dark Knight
Name: original_title, dtype: object

In [67]:
data[(data['release_year'] == 2008)&(data['revenue'].max())].original_title.head(1)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [68]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [69]:
#10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)? Решение:

In [70]:
year_2012_2014 = data[(data.release_date.str.contains('2012'))|(data.release_date.str.contains('2014'))|(data.release_date.str.contains('2013'))]

profit_revenue_2012_2014 = year_2012_2014[year_2012_2014['profit'] == year_2012_2014['profit'].min()].original_title

display(profit_revenue_2012_2014)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [71]:
answers['11'] = 'Drama'

In [72]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().head(1)

Drama    782
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [73]:
answers['12'] = 'Drama'

In [74]:
#12. Фильмы какого жанра чаще всего становятся прибыльными? Решение:

In [75]:
films_profit = data[data['profit'] > 0]
pd.Series(films_profit['genres'].str.cat(sep='|').split('|')).value_counts().head(1)

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [76]:
answers['13'] = 'Peter Jackson'

In [77]:
#13. У какого режиссера самые большие суммарные кассовые сборы? Решение:

In [124]:
display(rev_dir(data[data.revenue > 0]).sort_values(by = ['Sum'], ascending = False).head(1))

                      Sum
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [79]:
answers['14'] = 'Robert Rodriguez'

In [80]:
#14. Какой режисер снял больше всего фильмов в стиле Action? Решение:

In [81]:
films_action = data[data.genres.str.contains("Action", na = False)]

films_action['director'].str.split('|', expand = True).stack().value_counts().head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [82]:
answers['15'] = 'Chris Hemsworth'

In [83]:
#Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? Решение:

In [84]:
films_2012 = data[data.release_year == 2012][['cast', 'revenue']]

films_2012['cast'] = films_2012.cast.apply(lambda x: x.split('|'))

films_2012.explode('cast').groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [85]:
answers['16'] = 'Matt Damon'

In [86]:
#Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? Решение:

In [87]:
data_budget = data.query('budget == budget>budget.mean()')

data_budget['cast'] = data_budget.cast.apply(lambda x: x.split('|'))

data_budget.explode('cast').groupby(['cast'])['imdb_id'].count().sort_values(ascending = False).head(1)

C:\Users\79054\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

cast
Matt Damon    18
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [88]:
answers['17'] = 'Action'

In [89]:
#В фильмах какого жанра больше всего снимался Nicolas Cage? Решение:

In [90]:
data_cast = data.copy()

data_cast['genres'] = data_cast.genres.apply(lambda x: x.split('|'))

data_nic = data_cast.explode('genres')

data_nic[data_nic.cast.str.contains('Nicolas Cage', na = False)].genres.value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures?

In [91]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [92]:
#Самый убыточный фильм от Paramount Pictures? Решение:

In [93]:
data_companies = data.copy()

data_companies['production_companies'] = data.production_companies.apply(lambda x: x.split('|'))

films_PP = data_companies.explode('production_companies').query('production_companies == "Paramount Pictures"')

films_PP[films_PP['profit'] == films_PP['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [94]:
answers['19'] = '2015'

In [95]:
#Какой год стал самым успешным по суммарным кассовым сборам? Решение:

In [96]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [97]:
answers['20'] = '2014'

In [98]:
#Какой самый прибыльный год для студии Warner Bros? Решение:

In [99]:
data_companies = data.copy()

data_companies['production_companies'] = data.production_companies.apply(lambda x: x.split('|'))
companies_exploded = data_companies.explode('production_companies')

films_WB = companies_exploded[companies_exploded.production_companies.str.contains('Warner Bros',na=False)]

films_WB.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [100]:
answers['21'] = 'September'

In [101]:
#В каком месяце за все годы суммарно вышло больше всего фильмов? Решение:

In [125]:
from datetime import datetime

data_dif = data.copy()

data_dif['release_date'] = pd.to_datetime(data['release_date'])

data.groupby(data_dif['release_date'].dt.strftime('%B'))['imdb_id'].nunique().sort_values(ascending = False).head(1)

release_date
September    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)?

In [103]:
answers['22'] = '450'

In [104]:
#Сколько суммарно вышло фильмов летом? (за июнь, июль, август)? Решение:

In [105]:
data_dif = data.copy()

data_dif['release_date'] = pd.to_datetime(data['release_date'])

data_dif[data_dif.release_date.dt.month.isin([6, 7, 8,])].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [106]:
answers['23'] = 'Peter Jackson'

In [107]:
#Для какого режиссера зима – самое продуктивное время года? Решение:

In [108]:
data_winter = data.copy()

data_winter['release_date'] = pd.to_datetime(data['release_date'])
data_winter['director'] = data.director.apply(lambda x: x.split('|'))

data2 = data_winter[data_winter.release_date.dt.month.isin([12, 1, 2,])]

data2.director.explode().value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [109]:
answers['24'] = 'Four By Two Productions'

In [110]:
#Какая студия дает самые длинные названия своим фильмам по количеству символов? Решение:

In [111]:
data_companies = data.copy()

data_companies['production_companies'] = data.production_companies.apply(lambda x: x.split('|'))

data_companies2 = data_companies.explode('production_companies')

data_companies2['len_films'] = data_companies2.original_title.apply(lambda x: len(x))

data_companies2.groupby(by = 'production_companies').len_films.mean().sort_values(ascending = False).head(1)

production_companies
Four By Two Productions    83.0
Name: len_films, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [112]:
answers['25'] = 'Midnight Picture Show'

In [113]:
#Описание фильмов какой студии в среднем самые длинные по количеству слов? Решение:

In [114]:
data['overview_len'] = data.overview.apply(lambda x: len(x.split()))

data_overview = data.copy()

data_overview['production_companies'] = data.production_companies.apply(lambda x: x.split('|'))

summ_len_overview = data_overview.explode('production_companies').groupby(['production_companies'])['overview_len'].sum()
count_companies_overview = data_overview.explode('production_companies').groupby(['production_companies'])['imdb_id'].count()

c = summ_len_overview/count_companies_overview

c.sort_values(ascending = False).head(1)

production_companies
Midnight Picture Show    175.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [115]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [116]:
#Какие фильмы входят в 1 процент лучших по рейтингу? Решение:

In [117]:
data_quantile = data.copy()
a = data_quantile.quantile(0.99, numeric_only = True)['vote_average']
data[data['vote_average'] > a].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [12]:
#И немного покороче, но с тем же смыслом:

data[data['vote_average'] > data.quantile(0.99, numeric_only = True)['vote_average']].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [121]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [ ]:
#Какие актеры чаще всего снимаются в одном фильме вместе? Решение:

In [120]:
from itertools import combinations

d_act_tog = data.copy()

act_list = d_act_tog['cast'].str.split('|').tolist()
twact_list = []

for i in act_list:
    for j in combinations(i, 2):
        twact_list.append(''.join(sorted(j)))

df_twact_list = pd.DataFrame(twact_list)

df_twact_list.columns = ['actors_comb']

df_twact_list.actors_comb.value_counts().head()

Daniel RadcliffeEmma Watson        8
Emma WatsonRupert Grint            8
Daniel RadcliffeRupert Grint       8
Ben StillerOwen Wilson             6
Helena Bonham CarterJohnny Depp    6
Name: actors_comb, dtype: int64

# Submission

In [126]:
#Список ответов:

answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [127]:
len(answers)

27